<a href="https://colab.research.google.com/github/KiykoHanna/ATOMTEX/blob/main/1125.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # 1125 calulating means and errors

In [1]:
import numpy as np
import pandas as pd
import plotly.express as px

In [2]:
data = pd.DataFrame(columns=['serial_number', 'coef','bg_v','activ_volum', 'N_volum', 'bg_p','activ_point', 'N_point'])

data.loc[len(data)] = [6831, 1.11, 14.6, 6390, np.mean([5720, 5800, 5750, 5740]), 13.7, 850, np.mean([463, 407, 427, 397])]
data.loc[len(data)] = [6831, 1.11, 14.6, 6390, np.mean([5720, 5800, 5750, 5740]), 13.7, 9172, np.mean([4900, 4880, 4820, 4850])]
data.loc[len(data)] = [6831, 1.11, 14.6, 6390, np.mean([5720, 5800, 5750, 5740]), 13.7, 91908, np.mean([51200, 51000, 51100, 50900])]

data.loc[len(data)] = [6850, 1.30, 11.4, 6390, np.mean([4910,4950, 4950, 4910]), 10.9, 850, np.mean([394, 515, 407, 425])]
data.loc[len(data)] = [6850, 1.30, 11.4, 6390, np.mean([4910,4950, 4950, 4910]), 10.9, 9172, np.mean([4860, 4950, 4990, 4980])]
data.loc[len(data)] = [6850, 1.30, 11.4, 6390, np.mean([4910,4950, 4950, 4910]), 10.9, 91908, np.mean([51300, 50500, 51400, 50400])]

data.loc[len(data)] = [6851, 1.21, 11.4, 6390, np.mean([5190, 5310, 5290, 5270]), 11.2, 850, np.mean([474, 483, 516, 582])]
data.loc[len(data)] = [6851, 1.21, 11.4, 6390, np.mean([5190, 5310, 5290, 5270]), 11.2, 9172, np.mean([5270, 5180, 5100, 5210])]
data.loc[len(data)] = [6851, 1.21, 11.4, 6390, np.mean([5190, 5310, 5290, 5270]), 11.2, 91908, np.mean([52900, 52800, 53600, 52600])]

data.loc[len(data)] = [6849, 1.26, 11.5, 6390, np.mean([5020, 5050, 5040, 5110]), 10.6, 850, np.mean([552, 554, 532, 485])]
data.loc[len(data)] = [6849, 1.26, 11.5, 6390, np.mean([5020, 5050, 5040, 5110]), 10.6, 9172, np.mean([4780, 4780, 4800, 4950])]
data.loc[len(data)] = [6849, 1.26, 11.5, 6390, np.mean([5020, 5050, 5040, 5110]), 10.6, 91908, np.mean([49900, 50000, 50100, 50000])]

In [ ]:
data['error_p'] = np.round(100*(data['N_point']*1.75 - data['activ_point']) / data['activ_point'])
data['k'] = data['N_point'] * 1.75
data

,serial_number,coef,bg_v,activ_volum,N_volum,bg_p,activ_point,N_point,error_p,k
0,6831.0,1.11,14.6,6390.0,5752.5,13.7,850.0,423.50,-13.0,741.1250
1,6831.0,1.11,14.6,6390.0,5752.5,13.7,9172.0,4862.50,-7.0,8509.3750
2,6831.0,1.11,14.6,6390.0,5752.5,13.7,91908.0,51050.00,-3.0,89337.5000
3,6850.0,1.30,11.4,6390.0,4930.0,10.9,850.0,435.25,-10.0,761.6875
4,6850.0,1.30,11.4,6390.0,4930.0,10.9,9172.0,4945.00,-6.0,8653.7500
5,6850.0,1.30,11.4,6390.0,4930.0,10.9,91908.0,50900.00,-3.0,89075.0000
6,6851.0,1.21,11.4,6390.0,5265.0,11.2,850.0,513.75,6.0,899.0625
7,6851.0,1.21,11.4,6390.0,5265.0,11.2,9172.0,5190.00,-1.0,9082.5000
8,6851.0,1.21,11.4,6390.0,5265.0,11.2,91908.0,52975.00,1.0,92706.2500
9,6849.0,1.26,11.5,6390.0,5055.0,10.6,850.0,530.75,9.0,928.8125
10,6849.0,1.26,11.5,6390.0,5055.0,10.6,9172.0,4827.50,-8.0,8448.1250
11,6849.0,1.26,11.5,6390.0,5055.0,10.6,91908.0,50000.00,-5.0,87500.0000

In [50]:
class Device_1125():
  def __init__(self, number, var):
    self.number = number
    self.var = var

  def calc_coeff(self, act, d):
    self.coeff = act / (np.mean(d))
    return self.coeff

  def calc_point_err(self, act, d):
    mn = np.mean(d, axis=1)
    err = np.round(100  * (-act + mn*1.75) / act, 1)
    self.err = err

    print(mn, '\n', mn*1.75, '\n', self.err)



  def set_bg(self, bg_v, bg_p):
    self.bg_v = bg_v
    self.bg_p = bg_p

  def print_dev(self):
    print(self.number, ',  ', self.var, '\n', 'background volume: ', self.bg_v,  '\n', 'coefficient: ', self.coeff, '\n', )

In [29]:
sorces = [[93, 832, 595], [841, 9084, 91014]]

In [51]:
cur = Device_1125(6876, 'op')

a = [4940, 5040, 5080, 5120]
cur.calc_coeff(6355, a)
cur.set_bg(11.4, 11.0)

act = np.array(sorces[1])
data = np.array([[480, 442, 514, 450 ],
                 [4890, 5000, 4980, 5000],
                 [52400, 52000, 52600, 52000]
                 ])

cur.calc_point_err(act, data)

cur.print_dev()

[  471.5  4967.5 52250. ]
 [  825.125  8693.125 91437.5  ]
 [-1.9 -4.3  0.5]
6876 ,   op
 background volume:  11.4
 coefficient:  1.259663032705649